@import '@/variables.scss';
.card {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5rem;

  &:nth-child(odd) {
    flex-direction: row-reverse;
  }

  &__content {
    flex: 0 0 50%;
    display: flex;
    flex-direction: column;
    gap: 3rem;

    .title {
      font-size: 38px;
      font-weight: 700;
    }
    p {
      line-height: 200%;
    }
    .icons {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 20px;

      img {
        height: 20px;
      }
    }
    .btn {
      display: flex;
      justify-content: center;
      width: 200px;
      background-color: $green;
      color: $white;
      font-weight: 700;
      padding: 15px;
      border-radius: 10px;
      transition: background-color 0.2s ease-in-out;

      &:hover {
        background-color: #028477;
      }
    }
  }
  &__img {
    display: flex;
    justify-content: center;
    img {
      max-width: 400px;
    }
  }
}

@media (max-width: 1199px) {
  .card {
    &:nth-child(odd) {
      flex-direction: row;
    }
    &__content {
      gap: 1rem;

      .title {
        font-size: 28px;
      }
    }

    &__img {
      img {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }
}

@media (max-width: 767px) {
  .card {
    flex-direction: column;
    gap: 3rem;

    &:nth-child(odd) {
      flex-direction: column;
    }

    &__content {
      gap: 1rem;

      .title {
        font-size: 28px;
      }
    }

    &__img {
      img {
        max-width: 50%;
        margin: 0 auto;
      }
    }
  }
}
